header {
    color: white;
    font-size: 16pt;
    background-color: blue;
    clear:left;
    width: 100%;
}

nav {
    clear:left;
    width: 100%;
}

article {
    clear:left;
    width: 100%;
}

footer {
    clear:left;
    width: 100%;
}

.navElement {
background-color: #f0f0f0; 
float: left;
}
.navElement:hover {
background-color: #005682;
}
.navElement a {
    color: black;
    text-decoration: none;
}

.navElement a:hover {
    color: white;
    text-decoration: none;
}

.visited {
    color: white;
    background-color: #005682;
}

div {
    padding: 0.5%;
}